.cart {
    padding: 20px;
    width: 90%;
    margin: auto;
}

.cart table {
    width: 100%;
    border-collapse: collapse;
}

.cart table, .cart th, .cart td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
.checkout-button {
    background-color: #ff8a00;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.checkout-button:hover {
    background-color: #ff2600;
}